.event-card{

}

.event__subheading{
  font-size: 2rem;
  color: $brand-light-blue;
  text-transform: uppercase;
  margin-bottom: 0;
  @extend .bebas-neue-bold;
}

.event__heading{
  color: white;
  font-size: 2.5rem;
  line-height: 2.4rem;
  @extend .bebas-neue-bold;
}
