.progress{
  display: inline-block;
  position: absolute;
  bottom: -6px;
  left:0;
  max-width: $global-width;
  right: 0;
  margin: auto;
  width: 100%;
  overflow: hidden;
  .mask{
    width: 0%;
    overflow: hidden;
  }
  .inner{
    width: 100vw;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(206,57,214,1) 42%,rgba(206,57,214,1) 42%,rgba(55,143,211,1) 100%);
    height: 7px;
  }
}
